/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	.menu ul li a {
		font-size: 20px !important;
		text-align: right;
		padding: 10px 0 0 0 !important;
}
.slider{
	padding-bottom: 70px;
}
.cid{
	bottom: -55px;
}
.cid[data-bs-target]{
	width: 13px;
	height: 13px;
}
.s_text{
	margin-top: 20px;
}
.s_text h1{
	font-size: 25px;
}
.s_icon ul li{
	margin-right: 20px !important;
}
.s_icon ul li i{
	font-size: 35px;
}
.feature{
	padding-top: 50px;
	padding-bottom: 70px;
}
.c_h1{
  margin-bottom: 10px;
  font-size: 25px;
}
.c_text{
	margin-bottom: 0;
	font-size: 17px;
}
.f_single{
	margin-top: 30px;
	text-align: center;
}
.f_icon i{
	font-size: 45px;
}
.f_text h2{
	margin-top: 5px;
	margin-bottom: 5px;
}
.contact{
	padding-top: 50px;
	padding-bottom: 70px;
}
.mtb_custom{
	margin-top: 35px;
	margin-bottom: 35px;
}
.c_email{
	height: 45px;
}
.btn_submit{
	font-size: 18px;
	height: 45px;
}
.c_social ul li a i {
    font-size: 35px;
}
footer{
	padding-bottom: 35px;
}
.f_1{
	margin-bottom: 35px;
  text-align:center;
}
.f_2{
	margin-bottom: 35px;
	text-align:center;
}

}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
	.menu ul li a {
		font-size: 20px !important;
		text-align: right;
		padding: 10px 0 0 0 !important;
}
.slider{
	padding-bottom: 70px;
}
.cid{
	bottom: -55px;
}
.cid[data-bs-target]{
	width: 13px;
	height: 13px;
}
.s_text{
	margin-top: 20px;
}
.s_icon ul li{
	margin-right: 20px !important;
}
.s_icon ul li i{
	font-size: 40px;
}
.feature{
	padding-top: 50px;
	padding-bottom: 70px;
}
.c_h1{
  margin-bottom: 10px;
  font-size: 30px;
}
.c_text{
	margin-bottom: 0;
}
.f_single{
	margin-top: 30px;
	text-align: center;
}
.f_text h2{
	margin-top: 5px;
	margin-bottom: 5px;
}
.contact{
	padding-top: 50px;
	padding-bottom: 70px;
}
.mtb_custom{
	margin-top: 35px;
	margin-bottom: 35px;
}
.c_email{
	height: 45px;
}
.btn_submit{
	height: 45px;
}
footer{
	padding-bottom: 70px;
}
.f_1{
  text-align:center;
  margin-bottom: 35px;
}
.f_2{
	text-align:center;
}

}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	.menu ul li a{
		text-align: right;
		padding: 10px 0 0 0 !important;
}

.s_text{
	margin-top: 50px;
}
.feature{
	padding-top: 80px;
	padding-bottom: 100px;
}
.f_single{
	margin-top: 40px;
}
.contact{
	padding-top: 80px;
	padding-bottom: 100px;
}
.mtb_custom{
	margin-top: 50px;
	margin-bottom: 50px;
}
footer{
	padding-bottom: 100px;
}




}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
  
}

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {
	
}

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
	
}